.games-main {
  background-image: url(../../Assets/Images/background.jpg);
  height: auto;
  padding: 5rem;
  display: flex;
  gap: 50px;
}

.games-card {
  background: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  margin-left: 3rem;
  gap: 10px;
  cursor: pointer;
}
.card-img-top {
  width: 100%;
}
