.total-credit {
  margin-top: 5rem;
  width: 20rem;
}
.accordion-button {
  background-color: #264e47 !important;
  height: 12px;
  color: white;
  font-size: 12px;
}
.accordion-button:not(.collapsed) {
  color: white;
}
.accordion-button::after {
  background-color: white;
}

.accordion-button:focus {
  box-shadow: none;
}

.btn-profit-loss {
  width: 20rem;
  height: 40px;
  background-color: #5c996f;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}
.btn-profit-loss:hover {
  background-color: #264e47;
}
.bet-edit {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}
.btn-1 {
  background-color: white;
  border: none;
  width: 61px;
  height: 34px;
  font-size: 11px;
}
.btn-2 {
  width: 90px;
  height: 34px;
  font-size: 11px;
  border: none;
}
.stake-btn {
  background-color: #5c996f;
  border-bottom-color: #497958;
  border-right-color: #497958;
  border-radius: 5px;
  border: none;
  font-size: 11px;
  color: white;
  height: 30px;
  width: 87px;
}
.add-section {
  width: 20rem;
  background-color: white;
  font-size: 11px;
  padding: 30px;
}
.game-rule {
  margin-top: 25px;
  height: 33px;
  border: none;
  font-size: 13px;
  color: white;
  width: 20rem;
  background-color: #264e47;
}

.modal-body {
  text-align: center;
}

.betinformation {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 320px;
  background: white;
}
.matched-bet {
  padding-top: 10px;
  width: 322px;
  background: white;
}

.editstake-popup {
  padding: 27px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.cancel-save-btn {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.save-btn {
  width: 55px;
  background: rgb(92, 153, 111);
  border: none;
  border-radius: 2px;
  color: white;
  height: 32px;
  font-size: 14px;
}
.cancel-btn {
  background: white;
  border: none;
}
